header {
    /* float: left; */
    width: 40%;
    text-align: center;
    font-size: 1.5vw;
    position: fixed;
    margin-top: 0;
}
header h1 {
    color: ivory;
}

menu {
    /* float: left; */
    margin-top: 0;
    width: 60%;
    font-size: 1.3vw;
    margin-left: 40%;
    /* fixed locks the position relative to the window, so scrolling has no effect.
    For some reason this moves the horizontal position all the way to the left??? */
    position: fixed;
}
menu li {
    display: inline-block;
    margin-top: 2.5vw;
    padding: .3vw;

}
menu a {
    color: ivory;
}

menu li:hover {
    background: gray;
}

header, menu {
    box-sizing: border-box;
    height: 7vw;
    margin-bottom: 0;
    background-color: blue;
    /*padding: .2vw;*/
}

#heading {
    box-sizing: border-box;
    height: 6vw;
    width: 100%;
    float: left;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 1.7vw;
    margin-top: 7vw;
}

#wrapper{
    width: 90%;
    min-width: 350px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: whitesmoke; */
}

aside, main, footer{
    /* border: 1px solid black; */
    padding: .2vw;
}

aside{
    width:25%;
    box-sizing: border-box;
    float: right;
    clear:right;
    height: 25vw;
    overflow-y: scroll;
    font-size: 1.3vw;
    border-top: solid gray 1vw;
    margin-top: 8vw;
    /* text-align: justify;
    text-justify: inter-word; */

}
aside img {
    margin: 0;

    width: 80%;
}

iframe {
    width: 20vw;
    height: 11vw;
}

main{
    width: 75%;
    float: left;
    box-sizing: border-box;
}

main img {
    box-sizing: border-box;
    /*width: 30%;*/
    height: 16vw;
    float: left;
    padding: 5px;
}

.short_pic img {
    height: 6vw;
}


section h2 {
    margin-bottom: 0;
    font-size: 1.8vw;
}

h3 {
    margin: 0;
}

section {
    box-sizing: border-box;
    width: 100%;
    padding: .6vw;
    /* text-align: justify;
    text-justify: inter-word; */
    padding-right: 1vw;
    float: left;
}


.sectionText {
    padding: 5px;
    /* Dynamic font size with minimum size:
    font-size: calc(5px + 1.3vw); */
    font-size: 1.5vw;
}
.sectionLeftText {
    float: left;
    padding: 5px;
    /* Dynamic font size with minimum size:
    font-size: calc(5px + 1.3vw); */
    font-size: 1.5vw;

}

footer{
    Clear: both;
    height: 3vw;
    background-color: lightgray;
    font-size: 1.2vw;
}

footer>span {

    font-style: italic;
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

body {
    margin-top: 0;
}


@media only screen and (max-width: 800px){
    main {
        width: 100%; /* puts the asides below main */
    }
    aside {
        float: left; /* puts the asides inline from left to right */
        margin-left: 1vw;
        width: 30%;
    }
}



/* (D) SHOW/HIDE */
 .hovermsg {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1vw;
}
.hoverwrap:hover .hovermsg {
    visibility: visible;
    opacity: 1;
}

